.cards {
	background-color: #fefcfb;
	padding: 20px;
	align-items: center;
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 6px;
	margin: 10px;
	width: 90%;
	}

.cards:hover {
	background-color: #bae8e8;
}